<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paltract</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section class="register">
        <div class="logo">
            <h1><i class="fa-solid fa-microchip"></i> Paltract</h1>
        </div>
        <div class="inputDiv">
            <h1>CREATE ACCOUNT</h1>
            <form>
                <div class="namesInput">
                    <input class="input" type="text" placeholder="Name">
                    <input class="input" type="text" placeholder="L Name">
                </div>
                <input class="input" type="email" placeholder="example@gmail.com">
                <input type="password" class="input" placeholder="Password">
                <input type="password" class="input" placeholder="Password Confirmation">
                <button type="submit" class="createAccountButton">CREATE ACCOUNT</button>
            </form>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/fa4d93c482.js" crossorigin="anonymous"></script>
</body>
</html>